.w100Per 
{
    width: 100%;
}

.w5Per
{
    width: 5%;
}

.padding0 
{
    padding: 0!important;
}

.fl-left 
{
    float: left;
}

.remove-scroll 
{
    overflow: hidden!important;
    -webkit-overflow-scrolling: none;
}

.mrT10 {
    margin-top: 10px;
}

.mrB10 {
    margin-bottom: 10px;
}