
body
{
    background: #2e2e2e;
}

#header.navbar-default
{
    border: none;
    background: none;
}

#header .container-fluid .navbar-header 
{
    margin-right: 0!important;
}

.menu-btn
{
    top: 6%;
    position: absolute;
    width: 8.2%;
    right: 8%;
}

.img-451
{
    position: absolute;
    top: 0;
    left: 43%;
    width: 16.9%;
}


.home-label
{
    margin-top: -100%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 10;
    background-color: rgba(187, 10, 20, 0.8);
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 2.3em;
    /* font-size: 225%;*/
}

.home-caption
{
    /*font-size: 16px;*/
      font-size: 0.5em;
}

.home-break
{
    height: 10px;
}



#ex-mortis
{
    margin-top: 10px;
    
}

#menuModal .modal-content
{
    height: 100%;
    border-radius: 0;
    border: 3px solid grey;
}


#menuModal .modal-dialog
{
    height: 100%;
    margin-top: 0;
    width: 100%;
    opacity: 0.8;
}

#menuModal h4
{
    color: #bb0a14;
    text-align: center;
    font-weight: bold;
    /* font-size: 46px;*/
    border-bottom: 2px solid #bb0a14;
    font-size: 3.3em;
}

#menuModal .close
{
    color: #bb0a14;
  padding-top: 1%;
  padding-right: 4%;
  font-weight: bold;
  /* font-size: 46px; */
  opacity: 1!important;
  font-size: 1.2em;
}

#menuModal h5
{
    color: #bb0a14;
    font-weight: bold;
    font-size: 1.7em;
    padding: 3%;
}

#menuModal .modal-header
{
    border: none;
}

.title-label {
      margin-top: -30%;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(187, 10, 20, 1.0);
}

/* slide effect */
.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(125%, 0, 0);
	transform: translate3d(125%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 125%, 0);
	transform: translate3d(0, 125%, 0);
}