

@font-face
{
    font-family: 'Avenir';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-Medium.otf');
    /*src: url('../css/fonts/Avenir/Avenir.ttc');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next';
    src: url('../css/fonts/Avenir-Next/Avenir-Next.ttc');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next-Condensed-bold';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-Bold.otf');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next-Condensed-damiBold';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-DemiBold.otf');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

body
{
    background: #2e2e2e;
}


#header
{
    width: 15%;
}

#header-451
{
    width: 25%;
    left: 26%;
}

#header-rising
{
    width: 70%;
}

#header.navbar-right
{
    right: 5%!important;
    left: 77%!important;
}



#header.navbar-default
{
    border: none;
    background: none;
}

#header .container-fluid .navbar-header
{
    margin-right: 0!important;
}

.menu-btn
{
    top: 21%;
    position: absolute;
    width: 70%;
    right: 8%;
}

.img-451
{
    position: absolute;
    top: 0;
    left: 39%;
    width: 100%;
}

.back-to-home
{
    position: absolute;
    top: 19.6%;
    left: 6%;
    width: 14.7%;
}

#home-page
{
    padding-left: 0!important;
    padding-right: 0!important;
    overflow: hidden;
}



#title-page
{
    padding-left: 0!important;
    padding-right: 0!important;
      overflow: hidden;
}


    #title-page #bad-moon
    {
        margin-top: 0%;
        text-align: center;
        width: 80%;
        /* margin: 0 auto; */
        font-size: 1.4em;
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 0;
        padding-right: 0;
        left: 19%;
    }

.home-label
{
    margin-top: -100%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 10;
    background-color: rgba(187, 10, 20, 0.8);
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Avenir-Next', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 2.0em;
    font-family: 'Avenir-Next-Condensed-bold'; /*Header text: */
    /* font-size: 225%;*/
}

.subhead-text
{
    font-family: 'Avenir-Next-Condensed-damiBold';
}

.home-caption
{
    /*font-size: 16px;*/
    font-size: 0.5em;
}

.home-break
{
    height: 10px;
}



#ex-mortis
{
    margin-top: 10px;
}

#menuModal .modal-content
{
    height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
}


#menuModal .modal-dialog
{
    height: 100%;
    /*margin-top: 0;*/
    width: 100%;
    opacity: 0.8;
    margin: 0;
}

#menuModal a
{
    text-decoration: none;
}

#menuModal h4
{
    color: #bb0a14;
    text-align: center;
    font-weight: bold;
    /* font-size: 46px;*/
    border-bottom: 2px solid #bb0a14;
    font-size: 2.0em;
    width: 100%;
}

#menuModal .close
{
    /* color: #bb0a14;
    padding-top: 3%;
    font-weight: bold;
    opacity: 1!important;
    font-size: 0.9em;*/
    color: #bb0a14;
    font-weight: bold;
    opacity: 1!important;
    font-size: 1.4em;
}

#menuModal h5
{
    color: #bb0a14;
    font-weight: bold;
    font-size: 1.5em;
    padding: 3%;
}

#menuModal .modal-header
{
    border: none;
}

.title-label
{
    margin-top: -30%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(187, 10, 20, 1.0);
}

/* slide effect */
.modal.fade:not(.in).left .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).bottom .modal-dialog
{
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}

.show-video
{
    width: 6%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}


/*Social popap*/
#socialuModal .modal-content
{
    height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
}


#socialuModal .modal-dialog
{
    height: 100%;
    width: 100%;
    margin: 0;
}

#socialuModal a
{
    text-decoration: none;
}

#socialuModal h4
{
    color: #bb0a14;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #bb0a14;
    font-size: 2.0em;
    width: 100%;
}

#socialuModal .close
{
    color: #bb0a14;
    font-weight: bold;
    opacity: 1!important;
    font-size: 1.4em;
}

#socialuModal h5
{
    font-weight: bold;
    font-size: 1.5em;
    padding: 3%;
}

#socialuModal .modal-header
{
    border: none;
}

#socialuModal h5 img
{
    padding-right: 5%;
}

/*Shared popap*/
#sharedModal .modal-content
{
    height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
    opacity: 0.8;
}


#sharedModal .modal-dialog
{
    height: 100%;
    width: 100%;
    margin: 0;
}

#sharedModal.modal-body
{
    height: 100%;
}

#sharedModal a
{
    text-decoration: none;
}

#sharedModal .shared-center
{
    margin-top: 65%;
}

    #sharedModal .shared-center img
    {
        display: block;
        float: left;
        padding: 4.2%;
    }

#sharedModal .close
{
    display: block;
    float: none;
    margin: 0 auto;
    padding: 3%;
    border: 1px solid #bb0a14;
    opacity: 1;
    color: #bb0a14;
    margin-top: 5%;
    letter-spacing: 0.1em;
    padding-left: 7%;
    padding-right: 7%;
}
