

@font-face
{
    font-family: 'Avenir';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-Medium.otf');
    /*src: url('../css/fonts/Avenir/Avenir.ttc');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next';
    src: url('../css/fonts/Avenir-Next/Avenir-Next.ttc');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next-Condensed-bold';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-Bold.otf');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Avenir-Next-Condensed-damiBold';
    src: url('../css/fonts/Avenir-Next-Condensed/AvenirNextCondensed-DemiBold.otf');
    /*src: url('../css/fonts/Avenir/Avenir-Book.otf');*/
    font-weight: normal;
    font-style: normal;
}

body
{
    background: #2e2e2e;
    font-size: 100%;
}


#header
{
    width: 15%;
}

#header-451
{
    width: 25%;
    left: 26%;
}

#header-rising
{
    width: 80%;
}

#header.navbar-right
{
    right: 5%!important;
    left: 77%!important;
}



#header.navbar-default
{
    border: none;
    background: none;
}

#header .container-fluid .navbar-header
{
    margin-right: 0!important;
}

.menu-btn
{
    top: 21%;
    position: absolute;
    width: 70%;
    right: 8%;
}

.img-451
{
    position: absolute;
    top: 0;
    left: 39%;
    width: 100%;
}

.back-to-home
{
    position: absolute;
    top: 6.6%;
    left: 13%;
    width: 13%;
}

#home-page
{
    padding-left: 0!important;
    padding-right: 0!important;
    overflow: hidden;
}



#title-page
{
    padding-left: 0!important;
    padding-right: 0!important;
    overflow: hidden;
}


    #title-page #bad-moon
    {
        margin-top: 0%;
        text-align: center;
        font-size: 4em;
        width: 100%;
        margin: 0;
        margin-top: 4.6%;
        padding: 4.7%;
    }

    #title-page .bad-moon-header
    {
        float: right!important;
        width: 70%;
    }

.home-label
{
    margin-top: -100%;
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 10;
    background-color: rgba(187, 10, 20, 0.8);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Avenir-Next', sans-serif;
    font-weight: 400;
    text-align: left;
    /*font-size: 48px;*/
    font-size: 5em;
    font-family: 'Avenir-Next-Condensed-bold'; /*Header text: */
}

.subhead-text
{
    font-family: 'Avenir-Next-Condensed-damiBold';
}

.home-caption
{
    /*font-size: 32px;*/
    font-size: 0.6em;
}

.home-break
{
    height: 10px;
}



#ex-mortis
{
    margin-top: 10px;
}

#menuModal .modal-content
{
    min-height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
}


#menuModal .modal-dialog
{
    height: 100%;
    /*margin-top: 0;*/
    width: 100%;
    opacity: 0.8;
    margin: 0;
}

#menuModal a
{
    text-decoration: none;
}

#menuModal h4
{
    color: #bb0a14;
    text-align: center;
    font-weight: bold;
    /* font-size: 46px;*/
    border-bottom: 2px solid #bb0a14;
    font-size: 4em;
    width: 100%;
}

#menuModal .close
{
    color: #bb0a14;
    font-weight: bold;
    opacity: 1!important;
    font-size: 1.4em;
}

#menuModal h5
{
    color: #bb0a14;
    font-weight: bold;
    font-size: 3.5em;
    padding: 3%;
}

#menuModal .modal-header
{
    border: none;
}

.title-label
{
    margin-top: -30%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(187, 10, 20, 1.0);
}
 
/* slide effect */
/*
.modal.fade:not(.in).left .modal-dialog
{
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).bottom .modal-dialog
{
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}
*/


.modal.fade:not(.in).left .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(125%, 0, 0);
	transform: translate3d(125%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 125%, 0);
	transform: translate3d(0, 125%, 0);
}

/* Slide effect end*/




.show-video
{
    width: 6%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}


/*Social popap*/
#socialuModal .modal-content
{
    min-height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
}


#socialuModal .modal-dialog
{
    height: 100%;
    width: 100%;
    margin: 0;
}

#socialuModal a
{
    text-decoration: none;
    color: black;
}

#socialuModal h4
{
    color: #bb0a14;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #bb0a14;
    font-size: 4em;
    width: 100%;
}

#socialuModal .close
{
    color: #bb0a14;
    font-weight: bold;
    opacity: 1!important;
    font-size: 1.4em;
}

#socialuModal h5
{
    font-weight: bold;
    font-size: 3.5em;
    padding: 3%;
}

#socialuModal .modal-header
{
    border: none;
}

#socialuModal h5 img
{
    padding-right: 5%;
}

/*Shared popap*/
#sharedModal .modal-content
{
    height: 100%;
    border-radius: 0;
    border: 3px solid grey;
    font-family: 'Avenir';
    opacity: 0.8;
}


#sharedModal .modal-dialog
{
    height: 100%;
    width: 100%;
    margin: 0;
}

#sharedModal.modal-body
{
    height: 100%;
}

#sharedModal a
{
    text-decoration: none;
}

#sharedModal .modal-body
{
    position: absolute;
    top: 30%;
    width: 100%;
}


#sharedModal .navbar
{
    background: none;
    border: none;
}

    #sharedModal .navbar img
    {
        width: 100%;
    }

    #sharedModal .navbar .navbar-nav
    {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    #sharedModal .navbar .navbar-collapse
    {
        text-align: center;
        border-color: transparent;
    }

#sharedModal .navbar-collapse
{
    display: block;
}


#sharedModal .navbar-nav > li
{
    float: left;
    width: 25%;
}

    #sharedModal .navbar-nav > li > a
    {
        padding-top: 3%;
        padding-bottom: 3%;
    }


#sharedModal .close
{
    display: block;
    float: none;
    margin: 0 auto;
    padding: 3%;
    border: 1px solid #bb0a14;
    opacity: 1;
    color: #bb0a14;
    letter-spacing: 0.1em;
    padding-left: 7%;
    padding-right: 7%;
}


#videoTrailer
{
    display: initial;
}

.video-frame
{
    width: 100% !important;
    height: auto !important;
    /* max-width:854px; */
}

#videoModel .modal-header
{
    font-weight: bold;
    border-color: #bb0a14;
    width: 100%;
    margin: 0 auto;
}


#videoModel .close
{
    color: #bb0a14;
    font-weight: bold;
    opacity: 1!important;
    font-size: 1.4em;
    margin: 2%;
    
}

#videoModel img {
   width: 85%; 
}


.video-link
{
    color: #bb0a14;
    text-decoration: none;
}

.video-link:hover
{
    color: #bb0a14;
    text-decoration: none;
}

#videoModel .modal-body
{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 8%;
}

#videoModel .content
{
    margin: 0px auto;
}

#videoModel .embed-container
{
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

#videoModel .embed-container iframe
{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
}

#wrapper-video {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
}

/*320 480 640 800 1024 */
@media screen and (max-width:320px)
{
    body
    {
        font-size: 62%;
    }

    .back-to-home
    {
        top: 20.6%;
    }

    #title-page .bad-moon-header
    {
        margin-right: 0%;
        font-size: 0.6em;
    }
}

@media screen and (min-width:321px) and (max-width:480px)
{
    body
    {
        font-size: 82%;
    }

    .back-to-home
    {
        top: 14.6%;
    }

    #title-page .bad-moon-header
    {
        margin-right: 0%;
        font-size: 0.7em;
    }
}

@media screen and (min-width:481px) and (max-width:640px)
{
    body
    {
        font-size: 100%;
    }

    #title-page .bad-moon-header
    {
        margin-right: 1%;
          font-size: 0.9em;
        
    }
}

@media screen and (min-width:641px) and (max-width:800px)
{
    body
    {
        font-size: 100%;
    }

    #title-page .bad-moon-header
    {
        margin-right: 1%;
        
    }
}

@media screen and (min-width:801px)
{
    body
    {
        font-size: 100%;
    }

      #title-page .bad-moon-header
    {
        margin-right: 1%;
        
    }
}


#video 
{
    position: absolute;
}