<div id='title-page' class="container">

    <nav id="header-rising" class="navbar   navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="  " href="#/index">
                    <img class="back-to-home" alt="" src="imgs/assets/button-back@2x.png" />
                </a>
            </div>

            <div class="navbar-header bad-moon-header">
                <div id="bad-moon" class='col-sm-10 col-md-10 col-lg-10 col-xs-10  col-xs-offset-1 home-label'>
                    Bad Moon Rising
                </div>
            </div>
        </div>
    </nav>

    <div class='row'>
        <div class='col-xs-12 padding0'>
            <img class="w100Per" src="imgs/content/tile-badmoonrising-seriestrailer.png" />
        </div>

        <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
            <a class="video-link"
                data-toggle="modal"
                data-target="#videoModel">
                <div id="videoTrailer">Series Trailer </div>
            </a>



            <a data-toggle="modal"
                data-target="#sharedModal">
                <img class="show-video" src="imgs/assets/button-share@2x.png" />
            </a>

            <div class="row">
                <div class='col-xs-12 home-caption subhead-text'>See how it begins</div>
            </div>
        </div>
    </div>

    <!-- END ROW Contnet-Cell -->

    <div class='row'>
        <div class='col-xs-12 home-break padding0'></div>
    </div>

    <div class='row'>
        <div class='col-xs-12 padding0'>
            <img class="w100Per" src="imgs/content/tile-badmoonrising-imaginationtoburn.png" />
        </div>
        <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
            IMAGINATION TO BURN
     
                <div class="row">
                    <div class='col-xs-12 home-caption subhead-text'>Interview with Scott Rosenburg</div>
                </div>
        </div>
    </div>
    <!-- END ROW Contnet-Cell -->

    <div class='row'>
        <div class='col-xs-12 padding0 home-break'></div>
    </div>

    <div class='row'>
        <div class='col-xs-12 padding0'>
            <img class="w100Per" src="imgs/content/tile-badmoonrising-characterart.png" />
        </div>
        <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
            Character Art
     
                <div class="row">
                    <div class='col-xs-12 home-caption subhead-text'>Get Familiar</div>
                </div>

        </div>
    </div>
    <!-- END ROW Contnet-Cell -->

    <div class="modal fade" id="sharedModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container padding0">
                        <nav class="navbar navbar-default" role="navigation">

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse padding0 ">
                                <ul class="nav navbar-nav">
                                    <li id="share-facebook">
                                        <a href="https://www.facebook.com/login/" target="_blank">
                                            <img src="imgs/assets/button-share-facebook.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/twitt_login" target="_blank">
                                            <img src="imgs/assets/button-share-twitter.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img src="imgs/assets/button-share-tumblr.png" /></a>
                                    </li>
                                    <li id="mail-share">
                                        <a>
                                            <img src="imgs/assets/button-share-email.png" /></a>
                                    </li>

                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>


                    </div>
                    <div class="clearfix"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">CANCEL</button>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  " ng-class="changeRotateVideoPopap()" ng-style="{'width': popapWidth + 'px','height': popapHeight + 'px' }">
            <div class="modal-content  ">
                <div class="modal-body  ">

                    <div class="content">


                        <div class="embed-container">
                            <button onclick="closevideo()" type="button" class="close fl-left" data-dismiss="modal" aria-hidden="true">
                                <img src="imgs/assets/button-back.png" />
                            </button>

                            <iframe id="video"
                                class="fl-left"
                                src="https://youtube.com/embed/T0bVqgBSZHk?wmode=opaque" frameborder="0" allowfullscreen></iframe>
                            <!--  src="https://youtube.com/embed/T0bVqgBSZHk?wmode=opaque"-->

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function closevideo() {

        $("iframe").each(function () {
            var src = $(this).attr('src');
            $(this).attr('src', src);
        });
    }

    $('#videoModel').on('hidden.bs.modal', function () {
        closevideo();
    });

    $("#share-facebook").click(function () {
       /* alert("share facebook");*/

        window.plugins.socialsharing.shareViaFacebook('Message via Facebook about company 451',
            null /* img */,
            "https://www.facebook.com/SourceSeek" /* url */,
            function () { console.log('share ok'); },
            function(errormsg) {
            
            });

/*

        $("#tumbrl").click(function () {
            var ref = window.open('https://www.facebook.com/dialog/share?href=https://www.facebook.com/SourceSeek', '_system', 'location=no');       // loads in the system browser 
        });
*/

    });

    function onSuccess(parameters) {
        alert(parameters);
    }

    function onError(parameters) {
        alert(parameters);
    }

    $("#share-twitter").click(function () {
      /*  alert("twit");*/

        window.plugins.socialsharing.shareViaTwitter('Message and link via Twitter', null /* img */, 'http://www.x-services.nl');


        /* window.plugins.socialsharing.shareViaEmail(
            'Message', // can contain HTML tags, but support on Android is rather limited:  http://stackoverflow.com/questions/15136480/how-to-send-html-content-with-image-through-android-default-email-client
            'Subject',
            ['to@person1.com', 'to@person2.com'], // TO: must be null or an array
            ['cc@person1.com'], // CC: must be null or an array
            null, // BCC: must be null or an array
            ['https://www.google.nl/images/srpr/logo4w.png', 'www/localimage.png'], // FILES: can be null, a string, or an array
            onSuccess, // called when sharing worked, but also when the user cancelled sharing via email (I've found no way to detect the difference)
            onError // called when sh*t hits the fan
            );*/
    });

    $("#mail-share").click(function () {
      /*  alert("mail-share");*/
        
      
        
     /*   cordova.plugins.email.open({
            to: 'recipient@email.com',
            cc: 'your@email.com',
            bcc: ['', ''],
            subject: '451 company',
            body: '451 company'
        });*/

        var args = {
            toRecipients: '',
            ccRecipients: '',
            bccRecipients: ['', ''],
            subject: '451 company',
            body: '451 company',
            bIsHtml: true
        };

        cordova.exec(null, null, "EmailComposer", "showEmailComposer", [args]);
        
    });
</script>



