<div class="container">
    <div id='trailer'>
        <div class='row'>
            <div class='col-xs-12'>
                <!--            <img src="img/content/tile-badmoonrising-seriestrailer.png">-->
                <img  class="w100Per" src="imgs/content/tile-badmoonrising-seriestrailer.png" />

            </div>

            <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
                Series Trailer
     
            <div class="row">
                <div class='col-xs-12 home-caption'>See how it begins</div>
            </div>
            </div>
        </div>



        <!-- END ROW Contnet-Cell -->

        <div class='row'>
            <div class='col-xs-12 home-break'></div>
        </div>

        <div class='row'>
            <div class='col-xs-12 home-cell'>
                <!--    <img src="img/content/tile-badmoonrising-imaginationtoburn.png">-->
                <img class="w100Per" src="imgs/content/tile-badmoonrising-imaginationtoburn.png" />
            </div>
            <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
                Ex Mortis
     
                <div class="row">
                    <div class='col-xs-12 home-caption'>Interview with Scott Rosenburg</div>
                </div>

            </div>

        </div>.
        <!-- END ROW Contnet-Cell -->

        <div class='row'>
            <div class='col-xs-12 home-break'></div>
        </div>

        <div class='row'>
            <div class='col-xs-12 home-cell'>
                <!--          <img src="img/content/tile-badmoonrising-characterart.png">-->
                <img  class="w100Per" src="imgs/content/tile-badmoonrising-characterart.png" />
            </div>
            <div class='col-xs-10 col-xs-offset-1 home-label title-label'>
                Character Art
     
                <div class="row">
                    <div class='col-xs-12 home-caption'>Get Familiar</div>
                </div>

            </div>

        </div>
        <!-- END ROW Contnet-Cell -->

    </div>


</div>
